.HomeContainer {
  height: 100vh;
  background-color: rgb(54, 56, 58);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(230, 230, 230) !important;
  font-weight: 600;
  font-size: 25px;
}

.List{
  text-align: center;
  margin: 40px;
  padding: 10px;
  border-style: groove;
}

.Tabela{
  background-color: antiquewhite;
  width: auto;
  height: 200px;
  border-color: #8a8a8a;
  border-radius: 1px;
  border-style: solid;
}

ul{
  list-style-type: none;
  margin: 5px;
  padding: 0;
  overflow: hidden;
  background-color: none;
  border-style: solid;
  border-color: aliceblue;
}

li{
  float: left;
  text-align: left;
  padding-right: 10px;
}

button{
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:5px;
}